.buttonEntries {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  grid-template-rows: 28px;
  grid-auto-rows: 28px;
  place-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.iconButton.small {
  width: 28px;
  height: 28px;
}